* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    margin: 20px 0 80px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    width: 87px;
    height: 29px;
    background: #665AE1;
    border-radius: 20.5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 35px;
}

.button-main {
    width: 239px;
    height: 64px;
    background: #ADFF00;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-style: normal;
    filter: drop-shadow(2px 4px 6px black);
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: black;
}

@media screen and (max-width: 900px) {
    header {
        display: none;
    }

    .img-logo {
        margin: 150px 0px 0px 10px;
    }

    p {
        display: none;
    }

    h1 {
        width: max-content;
        display: block;
        margin: 30px auto 0 auto;
    }

    .button-main {
        margin: 50px auto 0 auto;
        display: block;
    }
    section {
        margin-left: 30px;
    }
    h2{
        margin-left: 30px;
    }
}
